:root{
    --royal-blue-dark: #3F2623;
    --royal-blue-light: #F2798F;  
    --white: #F2798F;
    --black: rgb(255, 255, 255);
    --background: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--background);


}


header .topo img{
    background: var( --royal-blue-dark);
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    margin-top: 0px;
    
}




header nav a{
    color: var(--black);
    text-decoration: none;
   
}

header nav{
    display: flex;
    align-items: center;
    background: var(--royal-blue-dark);
    height: 4.3875rem;
    padding: 1rem;
    position: fixed;
    width: 100%;
    margin-top: 160px;
    
}


.menu{
    list-style: none;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.menu a{
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.3em;
    
   
   
    
}

.menu a:hover{
    background: var(--royal-blue-light);
}

.label-menu, .checkbox{
    display: none;
}


@media (max-width: 600px){
    .menu{
        display: block;
        position: absolute;
        top: 3.2875rem;
        left: 0;
        background: var(--royal-blue-dark);
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        transition: 0.5s;
        visibility: hidden;
        overflow-y: hidden;
        
    }
    .menu a{
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
        border-radius: 0;
        
    }

    .label-menu{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--white);
        padding-block: 1rem;
        cursor: pointer;
    }
    .hamburger{
        border-top: 0.125rem solid;
        width: 1.25rem;
    }
    .hamburger::before, .hamburger::after{
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }
    .checkbox:checked ~ .menu{
        
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }
    .checkbox:checked ~ .label-menu .hamburger {
        border-top-color: transparent;
    }
    .checkbox:checked ~ .label-menu .hamburger::before{
        transform: rotate(135deg);
    }
    .checkbox:checked ~ .label-menu .hamburger {
        border-top-color: transparent;
    }
    .checkbox:checked ~ .label-menu .hamburger::after{
        transform: rotate(-135deg);
        top: -0.4375rem;
    }

    header .topo img{
        background: var( --royal-blue-dark);
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        margin-top: 0px;
        z-index: 1000;
        
    }
    
    header nav{
        display: flex;
        align-items: center;
        background: var(--royal-blue-dark);
        height: 4.3875rem;
        padding: 1rem;
        position: fixed;
        width: 100%;
        margin-top: 100px;
        z-index: 1000;
    }

    footer .endereço{
        color: white;
        padding: 50px 0 0 0;
    }
    
    footer .direitos{
        color:white;
        padding: 50px 0 0 0;
    
    }
    #equipe img{
        width: 100px;
        height: 100px;
        padding: 20px;
        border-radius: 50%;
        margin-left: 5%;
        
        
    }
    

}


#sobre{
    
    background-color: rgb(255, 215, 250);
    display: flex;
    text-align: center;
    
    width: 100%;
    height: 100%;
 
}

#sobre img{
    margin-top: 20%;
    width: 100%;
    height: 100%;
    
}





#equipe{
    background: #87204B;
    width: 100%;
    height: 225px;
    display: flex;
    flex-direction: row;
}

#equipe h2{
    display: block;
    color: white;
}



#equipe img{
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 50%;
    margin-left: 5%;
    
    
}

.nomes1 {
    margin-left: -150px;
    text-align:justify;
    text-decoration: none;
    color: #fff;
    margin-top: auto;
}


footer{
    margin-bottom: 0px;
    padding: 50px 30px;
    width: 100%;
    height: 20%;
    text-decoration: none;
    background-color: #3F2623;
    display: flex;
    justify-content: space-around;

}
footer a{
    display: 50%;
    width: 50px;
    height: 50px;
    background-color: #F2798F;
   
}
.socials{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.socials a{
    display: inline-flex;
    width: 20px;
    height: 50px;
    background: #F2798F ;
    color: #87204B;
    margin: 0px 6px;
    margin-top: 40px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 20px;

}

.socials a:hover{
    background: #87204B;
}

.socials a i{
    transition: 00.4s all;
}

.socials a:hover > i{
    transform: scale(1.6) rotate(25deg);
}

footer .endereço{
    color: white;
}

footer .direitos{
    color:white;
   

}

#pedido a{
    line-height: 50px;
    margin-left: 5px;
    color: wheat;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   
